@model IEnumerable<WoodcarvingApp.Web.ViewModels.WoodType.WoodTypeIndexViewModel>

@{
    ViewData["Title"] = "Wood Types";
}

<div class="container mt-4">
    <h1 class="text-center">Wood Types</h1>

    <div class="text-end mb-3">
        <a href="@Url.Action("Create", "WoodType")" class="btn btn-primary">
            Add New Wood Type
        </a>

    </div>
    <div class="row">
        @if (Model != null && Model.Any())
        {
        @foreach (var woodType in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@woodType.ImageUrl" class="card-img-top" alt="@woodType.WoodTypeName" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@woodType.WoodTypeName</h5>
                        <a asp-action="Details" asp-route-id="@woodType.Id" class="btn btn-primary">Details</a>
                        <a asp-action="Edit" asp-route-id="@woodType.Id" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        }
        }
        else
        {
            <div class="alert alert-info text-center">
                No wood types found! Click "Add New Wood Type" to create one.
            </div>
        }
    </div>
</div>
